<%= Gon::Base.render_data %>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<div class="top">
  <%= render 'shared/header' %>
  <div class="container top-form">
    <div class="craftsmanship">
      <p>あなたの職人適正は<%= @craftsmanship.floor %>％です</p>
    </div>
    <div class="form-container">
      <div class="form-field">
        <canvas id="radar-chart"></canvas>
      </div>
    </div>
    <% if @diagnosis.destruction.to_i >= 5 && @diagnosis.physically.to_i >= 4 && @diagnosis.muscle.to_i >= 4 %>
      <div class="form-container">
        <div class="explanation-field">
          <div class="device-inner">
            <p class="occupation">解体屋</p>
            <p class="occupation-explanation">重機を使って建物を一気に取り壊していく解体屋は、物を壊すことに快感を感じるあなたに向いているでしょう。家やビル、マンションなどを取り壊す経験は、解体屋だからこそできる仕事であり、大きな建物を壊すことで溜まっていたストレスを発散できることがあります。また、解体した廃材をトラックまで持ち運んだり、手作業で行わなければならない部分もあり体力的にきついこともありますが、体力や力のあるあなたにぴったりな仕事でしょう。</p>
          </div>
          <img src="/assets/cancellation-1651305_1920 2.jpg" alt="aaa" width="800" height="">
        </div>
      </div>
      <% else if @diagnosis.physically.to_i >= 3 && @diagnosis.communication.to_i >= 5 && @diagnosis.picky.to_i >= 5 && @diagnosis.tidy.to_i >= 5 && @diagnosis.intelligence.to_i >= 4 && @diagnosis.dexterous.to_i >= 5 && @diagnosis.planning.to_i >= 4 && @diagnosis.careful.to_i <= 2 && @diagnosis.destruction.to_i <= 4 %>
        <div class="form-container">
          <div class="explanation-field">
            <div class="device-inner">
              <p class="occupation">電気工事士</p>
              <p class="occupation-explanation">協調性が高く、几帳面なあなたは電気工事士に向いているでしょう。電気工事は少しの間違いが大事故につながる可能性があります。配線や絶縁処理、接続などの細かい仕事が多いですが、丁寧、几帳面な性格の人なら正確かつ安全に行うことができるでしょう。また電気工事の作業は、周りの作業員や先輩との連携も必要です。自分一人で作業するのではなく、チームワークを大切にしながら、適切なコミュニケーションを取って作業を進められる人が向いています。</p>
            </div>
            <img src="/assets/repair-7391472_1920 2.jpg" alt="aaa" width="800" height="">
          </div>
        </div>
      <% end %>
      <% if @diagnosis.physically.to_i >= 5 && @diagnosis.muscle.to_i >= 5 && @diagnosis.dirt.to_i <= 2 && @diagnosis.destruction.to_i <= 4 %>
        <div class="form-container">
          <div class="explanation-field">
            <div class="device-inner">
              <p class="occupation">土工事職人</p>
              <p class="occupation-explanation">体力や力に自信のあるあなたはあなたは土工事職人が向いているでしょう。一般的に土工の仕事内容としては、残土・客土工事、地山の掘削補助、埋め戻し、盛土、コンクリート打設などがあります。特に新人の頃は資材の運搬や、コンクリートをネコで運ぶなどの、体力が必要な補助業務をメインに行います。また、機械土工は重機を運転することで、土を運んだり瓦礫を撤去したりなど、人力では到底難しい作業を行います。重機に興味があれば挑戦してみるといいでしょう。</p>
            </div>
            <img src="/assets/cat-2579431_1920.jpg" alt="aaa" width="800" height="">
          </div>
        </div>
      <% end %>
      <% if @diagnosis.physically.to_i >= 5 && @diagnosis.muscle.to_i >= 5 && @diagnosis.high.to_i <= 2 && @diagnosis.destruction.to_i <= 4 && @diagnosis.dexterous.to_i >= 3 %>
        <div class="form-container">
          <div class="explanation-field">
            <div class="device-inner">
              <p class="occupation">鳶職人</p>
              <p class="occupation-explanation">高いところが苦手ではなく、体力や力に自信のあるあなたはあなたは鳶職人が向いているでしょう。鳶職の仕事はかなりハードで足場の組み立てをするには資材を運んだり、高い場所での作業をするので1日中動きっぱなしです。また、鳶職人の仕事は足場を組んで高い場所でする作業が多いです。現場によっては足がすくんでしまうような高さでの作業もあるので、高所恐怖症でない事が必須の要素です。</p>
            </div>
            <img src="/assets/bristol-7235782_1920.jpg" alt="aaa" width="800" height="">
          </div>
        </div>
      <% end %>
      <% if @diagnosis.physically.to_i >= 4 && @diagnosis.communication.to_i >= 4 && @diagnosis.tidy.to_i >= 4 && @diagnosis.high.to_i <= 2 && @diagnosis.destruction.to_i <= 4 %>
        <div class="form-container">
          <div class="explanation-field">
            <div class="device-inner">
              <p class="occupation">鉄筋工</p>
              <p class="occupation-explanation">細かい部分まで手を抜かず、丁寧な性格のあなたは鉄筋工に向いているでしょう。鉄筋工事は、建物の骨になる鉄筋を組み立てる工事です。建物の頑丈さに関わる工事なので、施工図通りに作業を行う必要性があります。丁寧で繊細な作業が求められるため、必ず活躍することができるでしょう。</p>
            </div>
            <img src="/assets/building-3331421_1920.jpg" alt="aaa" width="800" height="">
          </div>
        </div>
      <% end %>
      <% if @diagnosis.physically.to_i >= 4 && @diagnosis.dexterous.to_i >= 5 && @diagnosis.tidy.to_i >= 4 && @diagnosis.destruction.to_i <= 4 %>
        <div class="form-container">
          <div class="explanation-field">
            <div class="device-inner">
              <p class="occupation">鍛治工</p>
              <p class="occupation-explanation">手先が器用なあなたは、鍛治工に向いているでしょう。鍛冶工事は鉄骨をガス溶接やアーク溶接といった手法で変形、加工させ製品を作る仕事です。何よりも経験が大事になる要素が多いですが、手先が器用だと熟練の職人になるために有利な武器になるでしょう。</p>
            </div>
            <img src="/assets/worker-6602093_1920.jpg" alt="aaa" width="800" height="">
          </div>
        </div>
      <% end %>
      <% if @diagnosis.physically.to_i >= 4 && @diagnosis.muscle.to_i >= 4 && @diagnosis.tidy.to_i >= 5 && @diagnosis.dirt.to_i <= 2 && @diagnosis.destruction.to_i <= 4 %>
        <div class="form-container">
          <div class="explanation-field">
            <div class="device-inner">
              <p class="occupation">型枠大工</p>
              <p class="occupation-explanation">体力、力ともに十分にあり、職人としての必要な要素のきめ細かさを持ち合わせているあなたは、型枠大工に向いているでしょう。型枠大工は、コンクリートの型を作る仕事です。仕事内容としては、型枠の搬入、型枠の移動、墨出し、型枠建て込み、型枠支保工、型枠解体、型枠の搬出などがあります。この一連の作業の中でミスがあると凸凹のコンクリートができてしまったりするため、きっちり性格に作業できる要素が必要な型枠大工があなたにぴったりでしょう。</p>
            </div>
            <img src="/assets/to-build-3354036_1920.jpg" alt="aaa" width="800" height="">
          </div>
        </div>
      <% end %>
      <% if @diagnosis.physically.to_i >= 4 && @diagnosis.dexterous.to_i >= 4 && @diagnosis.intelligence.to_i >= 4 && @diagnosis.high.to_i <= 2 && @diagnosis.careful.to_i <= 2 && @diagnosis.destruction.to_i <= 4 %>
        <div class="form-container">
          <div class="explanation-field">
            <div class="device-inner">
              <p class="occupation">板金工</p>
              <p class="occupation-explanation">体力があり、手先が器用かつ、高いところが苦手ではないあなたは板金工に向いているでしょう。板金工の仕事は建物の屋根や外壁を仕上げていくのがメインなので、必然的に高所での作業が多くなります。速やかに移動しながら施工しなければいけないので、高所での作業が出来なければなりません。また、板金工は建築物によって変わる多種多様な壁や屋根に雨の侵入を防ぐために金属板をきれいに仕上げる必要があります。細かい作業が得意で手先が器用なあなたにぴったりな仕事でしょう。</p>
            </div>
            <img src="/assets/work-511841_1920.jpg" alt="aaa" width="800" height="">
          </div>
        </div>
      <% end %>
      <% if @diagnosis.physically.to_i >= 3 && @diagnosis.dexterous.to_i >= 5 && @diagnosis.tidy.to_i >= 4 && @diagnosis.communication.to_i >= 4 && @diagnosis.picky.to_i >= 4 && @diagnosis.dirt.to_i <= 2 && @diagnosis.destruction.to_i <= 4 %>
        <div class="form-container">
          <div class="explanation-field">
            <div class="device-inner">
              <p class="occupation">左官職人</p>
              <p class="occupation-explanation">手先が器用で粘り強い性格のあなたは、左官職人に向いているでしょう。左官は、高い技術を必要とする専門性の高い職業です。壁や床に対して均一に材料を塗り拡げるだけでも、かなりハイレベルな技術が必要です。左官が身につけなければならない技は、膨大な数があり、現役でいるかぎり腕を磨きつづけなければなりません。ひとつの道を突き詰めることに喜びを見出せる、職人気質のあなたにぴったりな仕事でしょう。</p>
            </div>
            <img src="/assets/silhouette-4644655_1920.jpg" alt="aaa" width="800" height="">
          </div>
        </div>
      <% end %>
      <% if @diagnosis.physically.to_i >= 3 && @diagnosis.dexterous.to_i >= 5 && @diagnosis.tidy.to_i >= 5 && @diagnosis.picky.to_i >= 4 && @diagnosis.intelligence.to_i >= 4 && @diagnosis.destruction.to_i <= 4 %>
        <div class="form-container">
          <div class="explanation-field">
            <div class="device-inner">
              <p class="occupation">内装職人</p>
              <p class="occupation-explanation">手先が器用かつ、職人向きなセンスを持っているあなたは、内装職人に向いているでしょう。内装工の仕事はその殆どが手作業で行われます。細かい作業が苦にならない要素や、室内の空間を美しく仕上げるため、自分の美的感覚やセンスも必要な要素になります。インテリアやデザインが好きなのであれば挑戦してみるといいでしょう。</p>
            </div>
            <img src="/assets/carpenter-3276186_1920.jpg" alt="aaa" width="800" height="">
          </div>
        </div>
      <% end %>
      <% if @diagnosis.physically.to_i >= 3 && @diagnosis.dexterous.to_i >= 4 && @diagnosis.tidy.to_i >= 5 && @diagnosis.picky.to_i >= 5 && @diagnosis.high.to_i <= 2 && @diagnosis.dirt.to_i <= 2 && @diagnosis.destruction.to_i <= 4 %>
        <div class="form-container">
          <div class="explanation-field">
            <div class="device-inner">
              <p class="occupation">塗装職人</p>
              <p class="occupation-explanation">几帳面で手先が器用かつ、こだわりが強い性格のあなたは、塗装職人に向いているでしょう。塗装というのはただ単に塗ればいいというわけではなく、美しい見た目になるように丁寧に仕上げる技術力が求められます。大雑把な性格の人よりも、手先が器用で細やかな作業が得意な人のほうが適任でしょう。また、美術的なセンスも必要とされるので、昔から絵を描くのが好きだった人や色彩のセンスがある人もその能力を発揮することができます。</p>
            </div>
            <img src="/assets/painting-924144_1920.jpg" alt="aaa" width="800" height="">
          </div>
        </div>
      <% end %>
      <% if @diagnosis.physically.to_i >= 3 && @diagnosis.dexterous.to_i >= 5 && @diagnosis.tidy.to_i >= 4  && @diagnosis.intelligence.to_i >= 4 && @diagnosis.planning.to_i >= 4 && @diagnosis.narrow.to_i <= 2 && @diagnosis.destruction.to_i <= 4 %>
        <div class="form-container">
          <div class="explanation-field">
            <div class="device-inner">
              <p class="occupation">配管工</p>
              <p class="occupation-explanation">真面目で忍耐力のあるあなたは、配管工に向いているでしょう。配管工が施工した配管の多くも、地中に埋められたり、建物の床下や天井裏に隠れたりして、普段人の目に触れることはありません。しかし、配管は私たちの生活になくてはならないものです。もしも故障や事故などが発生すれば、その被害は甚大なものとなってしまいます。そのため、配管工には確実かつ丁寧に仕事をすることが求められます。誰も見ていなくても決して手を抜かず、コツコツと地道な作業を続けられる、真面目な性格の人が向いているでしょう。</p>            </div>
            <img src="/assets/plumbing-1103725_1920.jpg" alt="aaa" width="800" height="">
          </div>
        </div>
      <% end %>
      <% if @diagnosis.physically.to_i >= 4 && @diagnosis.tidy.to_i >= 5  && @diagnosis.tidy.to_i >= 5 && @diagnosis.picky.to_i >= 5 && @diagnosis.destruction.to_i <= 4 %>
        <div class="form-container">
          <div class="explanation-field">
            <div class="device-inner">
              <p class="occupation">外構職人</p>
              <p class="occupation-explanation">体力があり、きっちりとした性格で、個性の強いあなたは外構職人に向いているでしょう。外構職人は敷地内にある住宅以外の構造物を、全て造る仕事と言っても過言ではないです。同じ工事内容でも依頼者や住宅によって毎回異なる工事が求められるので、あなたの個性を発揮することで唯一無二の遊び心のある外構に仕上げられることでしょう。</p>
            </div>
            <img src="/assets/brick-home-299771_1920.jpg" alt="aaa" width="800" height="">
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= render 'shared/footer' %>
</div>  
