<div class="top">
  <div class="top-main">
    <%= render 'shared/header' %>
    <div class="top-flame">
      <p>建築現場で働きたいあなたへ<br>あなたの職人度を診断します</p>
      <% if user_signed_in? %>
        <%= link_to new_diagnosis_path do %>
          <button class= "btn-link" >診断する</button>
        <% end %>
      <% else %>
        <%= link_to users_guest_sign_in_path, method: :post do %>
          <button class= "btn-link" >Guest Login</button>
        <% end %>
      <% end %>
    </div>
  </div>  
</div>
